.heading {
    color: green;
}

.img {
    width: 200px;
}

.card {
    border: 1px solid #ddd;
    margin: 10px;
    width: 200px;
    box-shadow: 1px 1px 3px 1px #ddd;
}

.textWrap {
    padding: 10px;
}